/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  background: #FFF5EE !important;
}


::-webkit-scrollbar {
  width: 4px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #FFF5EE;
}

::-webkit-scrollbar-track:hover {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .25);
}



.cet-menubar-menu-container {
  background-color: #FFF !important;
}

.cet-titlebar {
  overflow: visible !important;
  z-index: 99 !important;
}

.cet-title {
  color:rgba(77, 77, 77, 0.6);
}

.cet-menubar {
  overflow: visible;
}

.svg {
  fill: #FFA4B9;
  opacity: 70%;
  height: 80px;
  position: absolute;
  z-index: 1000;
  left: 4px;
  top:2px;
}